[submodule "satellites/dsh-skins"]
	path = satellites/dsh-skins
	url = https://github.com/zhu1090093659/dsh-skins.git
[submodule "satellites/dsh-pet"]
	path = satellites/dsh-pet
	url = https://github.com/zhu1090093659/dsh-pet.git
[submodule "satellites/dsh-community-plugins"]
	path = satellites/dsh-community-plugins
	url = https://github.com/zhu1090093659/dsh-community-plugins.git
